In [1]:
import pandas as pd

In [4]:
player_df = pd.read_csv('players.csv')

In [5]:
player_df

,surname,team,position,minutes,shots,passes,tackles,saves,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,Abdoun,Algeria,midfielder,16,0,6,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Belhadj,Algeria,defender,270,1,146,8,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Boudebouz,Algeria,midfielder,74,3,28,1,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Bougherra,Algeria,defender,270,1,89,11,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Chaouchi,Algeria,goalkeeper,90,0,17,0,2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590,Holden,USA,midfielder,4,0,2,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
591,Howard,USA,goalkeeper,390,0,81,0,14,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
592,Jozy Altidore,USA,forward,356,8,84,2,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
593,Onyewu,USA,defender,170,1,69,2,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
594,Torres,USA,midfielder,45,1,32,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
type(player_df)

pandas.core.frame.DataFrame

In [8]:
player_df.shape[0] # ดูจำนวนแถว

595

In [9]:
player_df.shape[1] # ดูจำนวนคอลัม /แนวตั้งอ้ะ

26

In [10]:
player_df.shape

(595, 26)

In [12]:
player_df.columns # ดูชื่อหัวข้อคอลัมทั้งหมด

Index(['surname', 'team', 'position', 'minutes', 'shots', 'passes', 'tackles',
       'saves', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25'],
      dtype='object')

In [13]:
player_df.index

RangeIndex(start=0, stop=595, step=1)

<h1>Selection</h1>

* By Number

In [17]:
print(player_df.iloc[2,3]) # ดูข้อมูลในตำแหน่งที่ [แถว, คอลัม]

74

In [18]:
print(player_df.iloc[ [3, 5, 6, 1], [0, 1, 2, 4, 7] ]) # ดูข้อมูลในตำแหน่งแบบ list

     surname     team  position  shots  saves
3  Bougherra  Algeria  defender      1      0
5   Djebbour  Algeria   forward      3      0
6    Ghezzal  Algeria   forward      3      0
1    Belhadj  Algeria  defender      1      0

In [19]:
print(player_df.iloc[ 2:6 , 0:5 ]) # ดูแบบการใช้สไลด์ เริ่มแถว 2 จบ 5 เริ่มคอลัม 0 จบ 4

     surname     team    position  minutes  shots
2  Boudebouz  Algeria  midfielder       74      3
3  Bougherra  Algeria    defender      270      1
4   Chaouchi  Algeria  goalkeeper       90      0
5   Djebbour  Algeria     forward      123      3

In [20]:
print(player_df.iloc[ 0:10:2 , :8 ]) # ดูแบบการใช้สไลด์ เริ่มแถว 0 เพิ่มทีละ 2 จบ 9 เริ่มคอลัมแรกถึง 7

     surname     team    position  minutes  shots  passes  tackles  saves
0     Abdoun  Algeria  midfielder       16      0       6        0      0
2  Boudebouz  Algeria  midfielder       74      3      28        1      0
4   Chaouchi  Algeria  goalkeeper       90      0      17        0      2
6    Ghezzal  Algeria     forward       40      3       8        0      0
8   Halliche  Algeria    defender      270      2      94        4      0

# Clean CSV

In [22]:
player_df = player_df.iloc[: , :8] # เคลียร์ค่า NaN

In [23]:
player_df

,surname,team,position,minutes,shots,passes,tackles,saves
0,Abdoun,Algeria,midfielder,16,0,6,0,0
1,Belhadj,Algeria,defender,270,1,146,8,0
2,Boudebouz,Algeria,midfielder,74,3,28,1,0
3,Bougherra,Algeria,defender,270,1,89,11,0
4,Chaouchi,Algeria,goalkeeper,90,0,17,0,2
...,...,...,...,...,...,...,...,...
590,Holden,USA,midfielder,4,0,2,0,0
591,Howard,USA,goalkeeper,390,0,81,0,14
592,Jozy Altidore,USA,forward,356,8,84,2,0
593,Onyewu,USA,defender,170,1,69,2,0
594,Torres,USA,midfielder,45,1,32,0,0

In [25]:
player_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 595 entries, 0 to 594
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   surname   595 non-null    object
 1   team      595 non-null    object
 2   position  595 non-null    object
 3   minutes   595 non-null    int64
 4   shots     595 non-null    int64
 5   passes    595 non-null    int64
 6   tackles   595 non-null    int64
 7   saves     595 non-null    int64
dtypes: int64(5), object(3)
memory usage: 37.3+ KB