# **นางสาวจิณณพัตส์ เทพรัตน์ รหัสนิสิต 6610450099**

# 1.

In [2]:
import pandas as pd

In [4]:
italy_eq = pd.read_csv("/content/italy_earthquakes_from_2016-08-24_to_2016-11-30.csv")
italy_eq.head(10)

                      Time  Latitude  Longitude  Depth/Km  Magnitude
0  2016-08-24 03:36:32.000   42.6983    13.2335       8.1        6.0
1  2016-08-24 03:37:26.580   42.7123    13.2533       9.0        4.5
2  2016-08-24 03:40:46.590   42.7647    13.1723       9.7        3.8
3  2016-08-24 03:41:38.900   42.7803    13.1683       9.7        3.9
4  2016-08-24 03:42:07.170   42.7798    13.1575       9.7        3.6
5  2016-08-24 03:43:58.700   42.7298    13.2137      10.7        3.4
6  2016-08-24 03:44:38.660   42.6760    13.2858      10.8        2.7
7  2016-08-24 03:44:56.400   42.6282    13.2648      10.6        3.2
8  2016-08-24 03:46:12.240   42.7645    13.1777       6.6        3.7
9  2016-08-24 03:46:46.000   42.7445    13.2097      12.4        2.8

# 2.

In [5]:
italy_eq['Timestamp'] = pd.to_datetime(italy_eq.Time)
italy_eq

,Time,Latitude,Longitude,Depth/Km,Magnitude,Timestamp
0,2016-08-24 03:36:32.000,42.6983,13.2335,8.1,6.0,2016-08-24 03:36:32.000
1,2016-08-24 03:37:26.580,42.7123,13.2533,9.0,4.5,2016-08-24 03:37:26.580
2,2016-08-24 03:40:46.590,42.7647,13.1723,9.7,3.8,2016-08-24 03:40:46.590
3,2016-08-24 03:41:38.900,42.7803,13.1683,9.7,3.9,2016-08-24 03:41:38.900
4,2016-08-24 03:42:07.170,42.7798,13.1575,9.7,3.6,2016-08-24 03:42:07.170
...,...,...,...,...,...,...
8081,2016-11-30 18:39:27.600,42.8903,13.0197,10.7,2.0,2016-11-30 18:39:27.600
8082,2016-11-30 18:43:14.850,42.9443,13.2003,8.6,2.6,2016-11-30 18:43:14.850
8083,2016-11-30 20:18:27.550,43.0092,13.1288,8.0,2.2,2016-11-30 20:18:27.550
8084,2016-11-30 20:45:11.780,43.0197,13.1017,9.3,2.7,2016-11-30 20:45:11.780
8085,2016-11-30 20:54:35.890,42.9935,13.0753,9.5,2.3,2016-11-30 20:54:35.890

In [6]:
italy_eq.set_index('Timestamp', inplace=True)
italy_eq

,Time,Latitude,Longitude,Depth/Km,Magnitude
Timestamp,,,,,
2016-08-24 03:36:32.000,2016-08-24 03:36:32.000,42.6983,13.2335,8.1,6.0
2016-08-24 03:37:26.580,2016-08-24 03:37:26.580,42.7123,13.2533,9.0,4.5
2016-08-24 03:40:46.590,2016-08-24 03:40:46.590,42.7647,13.1723,9.7,3.8
2016-08-24 03:41:38.900,2016-08-24 03:41:38.900,42.7803,13.1683,9.7,3.9
2016-08-24 03:42:07.170,2016-08-24 03:42:07.170,42.7798,13.1575,9.7,3.6
...,...,...,...,...,...
2016-11-30 18:39:27.600,2016-11-30 18:39:27.600,42.8903,13.0197,10.7,2.0
2016-11-30 18:43:14.850,2016-11-30 18:43:14.850,42.9443,13.2003,8.6,2.6
2016-11-30 20:18:27.550,2016-11-30 20:18:27.550,43.0092,13.1288,8.0,2.2
2016-11-30 20:45:11.780,2016-11-30 20:45:11.780,43.0197,13.1017,9.3,2.7
2016-11-30 20:54:35.890,2016-11-30 20:54:35.890,42.9935,13.0753,9.5,2.3

# 3.

In [7]:
italy_eq.Magnitude.max()

6.5

In [8]:
italy_eq.loc[italy_eq.Magnitude == 6.5, :'Magnitude']

,Time,Latitude,Longitude,Depth/Km,Magnitude
Timestamp,,,,,
2016-10-30 08:40:17.360,2016-10-30 08:40:17.360,42.8322,13.1107,9.2,6.5

# 4.

In [9]:
italy_eq.loc['2016-10-30', : ].shape[0]

389

# 5.

In [11]:
italy_eq = italy_eq.sort_index()
italy_eq.loc['2016-10-30 07:00:00':'2016-10-30 09:00:00', : ]

,Time,Latitude,Longitude,Depth/Km,Magnitude
Timestamp,,,,,
2016-10-30 07:01:14.060,2016-10-30 07:01:14.060,42.8522,13.2443,8.9,2.4
2016-10-30 07:02:48.160,2016-10-30 07:02:48.160,42.8538,13.2342,8.3,2.5
2016-10-30 07:14:48.470,2016-10-30 07:14:48.470,42.8737,13.1502,9.2,2.4
2016-10-30 07:31:51.660,2016-10-30 07:31:51.660,42.8753,13.0563,9.9,2.2
2016-10-30 08:04:07.760,2016-10-30 08:04:07.760,42.7907,13.0872,10.2,2.4
2016-10-30 08:16:28.780,2016-10-30 08:16:28.780,43.0622,13.0683,8.7,2.1
2016-10-30 08:31:19.890,2016-10-30 08:31:19.890,42.9268,13.0287,10.8,2.0
2016-10-30 08:40:17.360,2016-10-30 08:40:17.360,42.8322,13.1107,9.2,6.5
2016-10-30 08:41:17.010,2016-10-30 08:41:17.010,42.7720,13.1358,9.3,4.3
2016-10-30 08:42:27.470,2016-10-30 08:42:27.470,42.8795,13.0562,9.6,3.9
2016-10-30 08:43:08.810,2016-10-30 08:43:08.810,42.7668,13.1383,9.7,4.0
2016-10-30 08:43:46.260,2016-10-30 08:43:46.260,42.9000,13.1455,6.7,3.5
2016-10-30 08:44:30.670,2016-10-30 08:44:30.670,42.8548,13.0853,8.3,4.6
2016-10-30 08:47:05.430,2016-10-30 08:47:05.430,42.7868,13.1655,5.8,3.4
2016-10-30 08:48:27.160,2016-10-30 08:48:27.160,42.7825,13.1632,10.8,3.8
2016-10-30 08:48:52.710,2016-10-30 08:48:52.710,42.6828,13.2003,10.1,3.9
2016-10-30 08:50:43.710,2016-10-30 08:50:43.710,42.8068,13.1952,10.5,3.6
2016-10-30 08:51:14.270,2016-10-30 08:51:14.270,42.8925,13.0782,9.1,3.7
2016-10-30 08:51:55.240,2016-10-30 08:51:55.240,42.7828,13.1332,10.1,3.8
2016-10-30 08:53:12.820,2016-10-30 08:53:12.820,42.8090,13.0830,10.1,3.4
2016-10-30 08:53:54.740,2016-10-30 08:53:54.740,42.7692,13.1643,10.8,3.2
2016-10-30 08:54:46.760,2016-10-30 08:54:46.760,42.7958,13.2090,11.3,2.8
2016-10-30 08:55:41.060,2016-10-30 08:55:41.060,42.7122,13.1968,10.8,4.1
2016-10-30 08:55:54.210,2016-10-30 08:55:54.210,42.7508,13.2307,10.9,4.1
2016-10-30 08:56:05.780,2016-10-30 08:56:05.780,42.7993,13.1077,10.5,4.2
2016-10-30 08:56:38.110,2016-10-30 08:56:38.110,42.8437,13.1453,9.7,3.5
2016-10-30 08:57:21.560,2016-10-30 08:57:21.560,42.8607,13.0922,9.5,3.8
2016-10-30 08:58:02.960,2016-10-30 08:58:02.960,42.9078,13.1008,7.3,3.5
2016-10-30 08:59:31.500,2016-10-30 08:59:31.500,42.8517,13.2118,9.9,3.9
2016-10-30 08:59:45.430,2016-10-30 08:59:45.430,42.8235,13.1828,12.7,3.6

# 6.

In [12]:
italy_eq['Magnitude'].nlargest(2)

Timestamp
2016-10-30 08:40:17.360    6.5
2016-08-24 03:36:32.000    6.0
Name: Magnitude, dtype: float64

In [13]:
pd.to_datetime('2016-10-30 08:40') - pd.to_datetime('2016-08-24 03:36')

Timedelta('67 days 05:04:00')

# 7.

In [14]:
italy_eq.loc['2016-10-30 07:00:00':'2016-10-30 09:00:00', 'Magnitude'] - italy_eq.loc['2016-10-30 07:00:00':'2016-10-30 09:00:00', 'Magnitude'].shift()

Timestamp
2016-10-30 07:01:14.060    NaN
2016-10-30 07:02:48.160    0.1
2016-10-30 07:14:48.470   -0.1
2016-10-30 07:31:51.660   -0.2
2016-10-30 08:04:07.760    0.2
2016-10-30 08:16:28.780   -0.3
2016-10-30 08:31:19.890   -0.1
2016-10-30 08:40:17.360    4.5
2016-10-30 08:41:17.010   -2.2
2016-10-30 08:42:27.470   -0.4
2016-10-30 08:43:08.810    0.1
2016-10-30 08:43:46.260   -0.5
2016-10-30 08:44:30.670    1.1
2016-10-30 08:47:05.430   -1.2
2016-10-30 08:48:27.160    0.4
2016-10-30 08:48:52.710    0.1
2016-10-30 08:50:43.710   -0.3
2016-10-30 08:51:14.270    0.1
2016-10-30 08:51:55.240    0.1
2016-10-30 08:53:12.820   -0.4
2016-10-30 08:53:54.740   -0.2
2016-10-30 08:54:46.760   -0.4
2016-10-30 08:55:41.060    1.3
2016-10-30 08:55:54.210    0.0
2016-10-30 08:56:05.780    0.1
2016-10-30 08:56:38.110   -0.7
2016-10-30 08:57:21.560    0.3
2016-10-30 08:58:02.960   -0.3
2016-10-30 08:59:31.500    0.4
2016-10-30 08:59:45.430   -0.3
Name: Magnitude, dtype: float64

# 8.

In [15]:
italy_eq.resample('D').size()

Timestamp
2016-08-24    508
2016-08-25    240
2016-08-26    212
2016-08-27    140
2016-08-28    110
             ...
2016-11-26     41
2016-11-27     73
2016-11-28     82
2016-11-29     93
2016-11-30     47
Freq: D, Length: 99, dtype: int64

# 9.

In [16]:
italy_eq.resample('h').size()[italy_eq.resample('h').size() == 0]  #759ช่วง ตามค่าlength

Timestamp
2016-08-31 10:00:00    0
2016-09-01 09:00:00    0
2016-09-02 05:00:00    0
2016-09-02 06:00:00    0
2016-09-02 10:00:00    0
                      ..
2016-11-27 16:00:00    0
2016-11-29 15:00:00    0
2016-11-30 06:00:00    0
2016-11-30 13:00:00    0
2016-11-30 19:00:00    0
Length: 759, dtype: int64

# 10.

In [17]:
italy_eq.resample('5min').Magnitude.mean().max()

5.4

# 11.

In [18]:
(italy_eq.index[1:] - italy_eq.index[:-1]).max()

Timedelta('0 days 16:46:16.250000')

# 12.

In [19]:
(italy_eq.index.to_series().diff().idxmax(), italy_eq.index.to_series().diff().idxmax() + italy_eq.index.to_series().diff().max())

(Timestamp('2016-10-25 20:00:10.480000'),
 Timestamp('2016-10-26 12:46:26.730000'))

# 13.

In [20]:
strong_magnitude = italy_eq.index[(italy_eq['Magnitude'] - italy_eq['Magnitude'].shift(1) >= 2.0) &
                                  (italy_eq['Magnitude'] - italy_eq['Magnitude'].shift(-1) >= 2.0)]
strong_magnitude

DatetimeIndex(['2016-08-24 04:33:28.890000', '2016-10-26 19:10:36.340000',
               '2016-10-26 21:18:05.850000', '2016-10-30 08:40:17.360000',
               '2016-11-29 18:14:02.690000'],
              dtype='datetime64[ns]', name='Timestamp', freq=None)

# 14.

In [21]:
italy_eq['hour_count'] = italy_eq.index.isin(strong_magnitude).astype(int)
italy_eq

,Time,Latitude,Longitude,Depth/Km,Magnitude,hour_count
Timestamp,,,,,,
2016-08-24 03:36:32.000,2016-08-24 03:36:32.000,42.6983,13.2335,8.1,6.0,0
2016-08-24 03:37:26.580,2016-08-24 03:37:26.580,42.7123,13.2533,9.0,4.5,0
2016-08-24 03:40:46.590,2016-08-24 03:40:46.590,42.7647,13.1723,9.7,3.8,0
2016-08-24 03:41:38.900,2016-08-24 03:41:38.900,42.7803,13.1683,9.7,3.9,0
2016-08-24 03:42:07.170,2016-08-24 03:42:07.170,42.7798,13.1575,9.7,3.6,0
...,...,...,...,...,...,...
2016-11-30 18:39:27.600,2016-11-30 18:39:27.600,42.8903,13.0197,10.7,2.0,0
2016-11-30 18:43:14.850,2016-11-30 18:43:14.850,42.9443,13.2003,8.6,2.6,0
2016-11-30 20:18:27.550,2016-11-30 20:18:27.550,43.0092,13.1288,8.0,2.2,0
2016-11-30 20:45:11.780,2016-11-30 20:45:11.780,43.0197,13.1017,9.3,2.7,0
2016-11-30 20:54:35.890,2016-11-30 20:54:35.890,42.9935,13.0753,9.5,2.3,0

# 15.

In [22]:
italy_eq.groupby(italy_eq.index.hour).size()

Timestamp
0     333
1     303
2     307
3     303
4     343
5     395
6     403
7     401
8     363
9     388
10    336
11    327
12    338
13    315
14    351
15    331
16    295
17    317
18    317
19    340
20    314
21    310
22    317
23    339
dtype: int64

# 16.

In [23]:
max_magnitude_perday = italy_eq.resample('D').Magnitude.max()
max_magnitude_perday

Timestamp
2016-08-24    6.0
2016-08-25    4.4
2016-08-26    4.8
2016-08-27    4.0
2016-08-28    4.2
             ...
2016-11-26    3.2
2016-11-27    3.9
2016-11-28    3.6
2016-11-29    4.4
2016-11-30    3.1
Freq: D, Name: Magnitude, Length: 99, dtype: float64

In [24]:
mean_magnitude_everythreedays = max_magnitude_perday.resample('3D').mean()
mean_magnitude_everythreedays

Timestamp
2016-08-24    5.066667
2016-08-27    3.933333
2016-08-30    3.600000
2016-09-02    3.400000
2016-09-05    3.366667
2016-09-08    3.066667
2016-09-11    3.266667
2016-09-14    3.366667
2016-09-17    3.200000
2016-09-20    3.533333
2016-09-23    2.933333
2016-09-26    2.666667
2016-09-29    3.000000
2016-10-02    3.100000
2016-10-05    3.200000
2016-10-08    3.333333
2016-10-11    2.933333
2016-10-14    3.433333
2016-10-17    2.666667
2016-10-20    2.666667
2016-10-23    2.600000
2016-10-26    4.666667
2016-10-29    4.866667
2016-11-01    4.400000
2016-11-04    3.600000
2016-11-07    3.633333
2016-11-10    3.733333
2016-11-13    3.700000
2016-11-16    3.500000
2016-11-19    3.200000
2016-11-22    3.266667
2016-11-25    3.400000
2016-11-28    3.700000
Freq: 3D, Name: Magnitude, dtype: float64